body {
    background-color: white;
  }

header {
 /* margin: 40px 0px 80px 0px; */
  z-index: 10;
}

.content {
    padding: 10px 30px;
}

.logo {
  margin-right: auto;
}

.logo svg {
  height: 100px;
  width: 100px;
}

.logoPath {
  fill: url(#lgrad);
}

.logo span {
  font-family: Tenso;
}


.mission-container {
    background-color: white;
    padding: 30px;
    text-align: center;
  }

.splash-container {
  position: relative;
}

.splash {
  position: absolute;
}

nav.navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}


nav.navigation ul li {
    font-size: 15px;
    padding: 10px 15px;
    list-style: none;

}
 
nav.navigation ul li a:hover {
     color: rgb(85, 85, 85);
     transition: all .3s ease;
}

nav.navigation ul li a {
  color: black;
}

ul.branches li {
    font-size: 30px;
    border-bottom: 1px solid #444;
    padding: 10px 5px;
    background-color: white;
    list-style: none;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul.branches li a:hover {
    color: blue;
    transition: all .3s ease;
}

  

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.insta.linked.facebook a:hover {
  color: rgb(85, 85, 85);
  transition: all .3s ease;
}

/* Dropdown Button Test */

.navigation a:hover, .dropdown:hover .dropbtn {
  /* background-color: lightpink; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
